body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2;

  background-color: lightcyan;
  color:olive;

  width: 980px;
  margin:auto;
  }
  
  h1 {
      text-align: center;
      font-size: 43px;
      margin-bottom: 0;
  }